html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
.section-top{
  padding-top: 11rem;
}


section{padding-top:5rem;padding-bottom: 5rem}
.bg-cover,.bg-overlay,.bg-overlay:before{
  position: absolute;
  top: 0;
  bottom :0;
  left:0;
  right:0;
}
.bg-cover{
  background-image:url(Image/Pictures/Serre_tomate-min.jpeg);
  -moz-background-size:cover;
  background-position: 50%;
  background-size: cover;
  -webkit-background-size:cover;
  -o-background-size:cover;
  background-repeat: no-repeat;
  margin:0;
padding:0;
min-height:690px}
.bg-overlay:before{
  content:"";
  background-color:#212529;
  opacity:.55;
  min-height:690px
}
#logo{position:relative;
width: 100px;height: auto;}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-expand 0.9s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}


<!--Fin de Header-->

<!--Navbar-->
hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}
footer,
header,
nav,
section {
    display: block
}

body {
    margin: 0;
    font-family: Objective, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75;
    color: #212529;
    text-align: left;
    background-color: #f5f5f5
}

@media (min-width:576px) {
    .navbar-expand-sm {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-sm .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .navbar-expand-sm>.container,
    .navbar-expand-sm>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-sm .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }
    .navbar-expand-sm .navbar-toggler {
        display: none
    }
}

@media (max-width:767.98px) {
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:768px) {
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-md .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .navbar-expand-md>.container,
    .navbar-expand-md>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-md .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }
    .navbar-expand-md .navbar-toggler {
        display: none
    }
}

@media (max-width:991.98px) {
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:992px) {
    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-lg .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .navbar-expand-lg>.container,
    .navbar-expand-lg>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-lg .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }
    .navbar-expand-lg .navbar-toggler {
        display: none
    }
}

@media (max-width:1199.98px) {
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        padding-right: 0;
        padding-left: 0
    }
}

@media (min-width:1200px) {
    .navbar-expand-xl {
        flex-flow: row nowrap;
        justify-content: flex-start
    }
    .navbar-expand-xl .navbar-nav {
        flex-direction: row
    }
    .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute
    }
    .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 1rem;
        padding-left: 1rem
    }
    .navbar-expand-xl>.container,
    .navbar-expand-xl>.container-fluid {
        flex-wrap: nowrap
    }
    .navbar-expand-xl .navbar-collapse {
        display: flex!important;
        flex-basis: auto
    }
    .navbar-expand-xl .navbar-toggler {
        display: none
    }
}

.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start
}

.collapse:not(.show) {
    display: none
}

.collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition: height .35s ease
}


.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

.nav-link {
    display: block;
    padding: .5rem 1rem
}



.nav-link.disabled {
    color: #6c757d;
    pointer-events: none;
    cursor: default
}

.nav-tabs {
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

.nav-tabs .nav-item {
    margin-bottom: -1px
}

.nav-tabs .nav-link {
    border: 1px solid transparent
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: rgba(0, 0, 0, .1)
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #212529;
    background-color: #fff;
    border-color: rgba(0, 0, 0, .1) rgba(0, 0, 0, .1) transparent
}

.nav-tabs .dropdown-menu {
    margin-top: -1px
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: #212529;
    background-color: transparent
}

.nav-fill .nav-item {
    flex: 1 1 auto;
    text-align: center
}

.nav-justified .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center
}

.navbar {
    position: fixed;
    padding: 0.5rem 1rem
}

.navbar,
.navbar>.container,
.navbar>.container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between
}

.navbar-brand {
    display: inline-block;
    padding-top: .78125rem;
    padding-bottom: .78125rem;
    margin-right: 1rem;
    font-size: 1rem;
    line-height: inherit;
    white-space: nowrap
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-decoration: none
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}
.navbar-nav .nav-item-divider {
   display: none;
}
@media (min-width:1200px) {
   .navbar-nav .nav-item-divider {
   display: block;
}
}.navbar-nav .nav-item-divider .nav-link {
   opacity: .25;
}
.navbar-nav .nav-item-divider .nav-link>span {
   border-left: 1px solid;
}
.navbar-nav .nav-link {
    padding-right: 1em;
    padding-left: 1em;
}

.navbar-nav .dropdown-menu {
    position: static;
    float: none
}

.navbar-text {
    display: inline-block;
    padding-top: .5rem;
    padding-bottom: .5rem
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent
}

.navbar-toggler:focus,
.navbar-toggler:hover {
    text-decoration: none
}

.navbar-toggler-icon {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat 50%;
    background-size: 100% 100%
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    padding-right: 0;
    padding-left: 0
}

.navbar-expand .navbar-nav {
    flex-direction: row
}

.navbar-expand .navbar-nav .dropdown-menu {
    position: absolute
}

.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem
}

.navbar-expand>.container,
.navbar-expand>.container-fluid {
    flex-wrap: nowrap
}

.navbar-expand .navbar-collapse {
    display: flex!important;
    flex-basis: auto
}

.navbar-expand .navbar-toggler {
    display: none
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
    color: #D3D3D3
}

.navbar-light .navbar-nav .nav-link {
    color: #212529
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #D3D3D3
}

.navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, .3)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show>.nav-link {
    color: #D3D3D3
}

.navbar-light .navbar-toggler {
    color: #212529;
    border-color: transparent
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23212529' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-light .navbar-text {
    color: #212529
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-brand:hover,
.navbar-light .navbar-text a,
.navbar-light .navbar-text a:focus,
.navbar-light .navbar-text a:hover {
    color: #28a745
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #D3D3D3
}

.navbar-dark .navbar-nav .nav-link.disabled {
    color: hsla(0, 0%, 100%, .25)
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #D3D3D3
}

.navbar-dark .navbar-toggler {
    color: #fff;
    border-color: transparent
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E")
}

.navbar-dark .navbar-text {
    color: #fff
}

.navbar-dark .navbar-text a,
.navbar-dark .navbar-text a:focus,
.navbar-dark .navbar-text a:hover {
    color: #28a745
}


.section-top {
    padding-top: 10.8125rem
}
@media (max-width:767.98px) {
    .fp-section:not(: first-child) .section-top {
        padding-top: 5rem
    }
}

@media (min-width:768px) {
    .section-top {
        padding-top: 13.3125rem
    }
}

@media (min-width:768px) {
    .section-full .container>.row {
        min-height: calc(100vh - 7.5rem * 2)
    }
    .section-full .container>.row:before {
        content: "";
        min-height: inherit
    }
    .section-full.section-top>.container>.row {
        min-height: calc(100vh - 7.5rem * 2 - 5.8125rem)
    }
}

.alert {
    background-color: #fff;
    border-width: 2px 0 0;
    box-shadow: 0 25px 100px -5px rgba(0, 0, 0, .15);
    color: #212529
}

.alert-fixed {
    position: fixed;
    top: 5.8125rem;
    left: 50%;
    width: 100%;
    max-width: 40rem;
    text-align: center;
    transform: translateX(-50%);
    z-index: 1030
}


.nav .nav-link {
    position: relative;
    padding: .75rem 1.5rem;
    font-size: .6875rem;
    font-weight: 500;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #212529
}

.nav-pills .nav-link:before {
    content: "";
    position: absolute;
    right: 1.5rem;
    bottom: 0;
    left: 1.5rem;
    border-top: 3px solid #28a745;
    opacity: 0;
    transform: translateY(.25rem);
    transition: all .2s ease-in-out
}

.nav-pills .nav-link.active:before {
    opacity: 1;
    transform: translateY(0)
}

.nav-tabs .nav-link:not(.active):focus,
.nav-tabs .nav-link:not(.active):hover {
    border-color: #f8f9fa #f8f9fa rgba(0, 0, 0, .1);
    background-color: #f8f9fa
}

.nav-overflow {
    flex-wrap: nowrap;
    overflow-x: auto
}

.nav-overflow::-webkit-scrollbar {
    display: none
}

.navbar:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    opacity: 0;
    transition: opacity .15s linear;
    z-index: -1
}

.navbar-dark {
    color: #fff
}

.navbar-dark>.container {
    position: relative
}

.navbar-dark>.container:after {
    content: "";
    position: absolute;
    bottom: -0.5rem;
    left: 0;
    right: 0;
    border-top: 1px solid hsla(0, 0%, 100%, .3)
}



.navbar-light {
    color: #212529
}

.navbar-light:before {
    opacity: 1
}


.navbar-brand {
    line-height: 1.75rem;
    font-weight: 500;
    color: inherit!important
}

.navbar-brand-svg {
    height: 1.75rem;
    width: auto;
    width: 5.14063rem
}

.navbar-brand-img {
    height: 1.75rem;
    width: auto
}
.navbar-nav .nav-link {
    position: relative;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 900;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    transition: all .2s ease-in-out;
    transition-property: color
}
.navbar-nav .nav-item-divider {
    display: none
}

.navbar-nav .nav-item-divider .nav-link {
    opacity: .25
}

.navbar-nav .nav-item-divider .nav-link>span {
    border-left: 1px solid
}
.navbar-light #brand{
  -webkit-filter:invert(1);
}

.inlineList {
   display: flex !important;
   flex-direction: row !important;
   /* Below sets up your display method: flex-start|flex-end|space-between|space-around */
   justify-content: flex-start !important;
   /* Below removes bullets and cleans white-space */
   list-style: none !important;
   padding: 0;
   /* Bonus: forces no word-wrap */
   white-space: nowrap;
 }

 h2{letter-spacing: 0.05em}

 .btn {


}
.btn {
    font-weight: 500;
min-width: 150px;
max-width: 250px ;
z-index: 1;
display: inline-block;
letter-spacing: 0;
text-transform: uppercase;

    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    line-height: 1.64063rem!important;
    border-radius: 0;
    transition: color .5s ease-in-out,background-color .5s ease-in-out,border-color .5s ease-in-out,box-shadow .5s ease-in-out;
    font-family: 'HKGrotesk-bold', sans-serif;
    border-radius: 15px
}

#CTA_header{
background-color: transparent;
color:white !important;
border :5px solid #fff;
border-radius:23px;
padding:1em;
}

#CTA_header:hover{
  background-color:#77BDD9;
}
.container-top{margin-bottom: 5%;margin-top:5%}

h1 {
    font-size: 5rem;
    margin-top: 5rem;
    text-align: center;
    margin-left: 5%;
    margin-right:5%;
    margin-top: 3rem;
    margin-bottom: 3rem;
    justify-content: center;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    color:#fff;

}

.h2,
h2 {
    font-size: 2.5rem;
    margin-left: 10%;
    margin-right:10%;
}

.h3,
h3 {
    font-size: 1.6rem
}

.h4,
h4 {
    font-size: 1.4rem;
    margin: 1.5rem;

}

.h5,
h5 {
    font-size: 1rem
}

.h6,
h6 {
    font-size: .9375rem
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1)
}
.container {
    width: 100%;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    margin-right: auto;
    margin-left: auto
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
line-height: 1.5;

}
p {
    margin-top: 0;
    margin-bottom: 0.5rem;
  padding-left:1rem;
  padding-right:1rem;
  color:#6c757d;
}
p,li {
   font-family: 'HKGrotesk-Regular';
   font-weight: 700;
   font-style: normal;
   font-size: 1rem;
   letter-spacing: 1px

}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{ font-family: 'BebasNeueBold';
font-weight: normal;
font-style: normal;
letter-spacing: 0.15em;
}
@font-face {
  font-family: "HKGrotesk-Regular";
  src: url("Font/HKGrotesk-Regular.otf");
}
@font-face{
  font-family:"HKGrotesk-bold";
  src:url("Font/HKGrotesk-Bold.otf")
}
@font-face{
  font-family: "Bebas_Neue";
  src: url("Font/BebasNeue-Regular.otf");
}
@font-face{font-family:"BebasNeueBold";
  src:url("Font/BebasNeue_Bold.ttf")}
#believe{margin-top: 5rem;}
#believe h3{color:black;}
.manifesto .list-item{list-style-type: none;}
.list-title{text-decoration: underline;}

#vision{padding-top: 1.5rem; padding-left: 1rem;margin-bottom: 10rem;
}
#vision2{border-left: 3px solid lightgreen;
    padding-left: 10px;

text-align: center;
}
#man{background-color:#fff;
}

/*Methode*/
#methode{
  margin-right: 0;
  margin-left: 0;
    background-image: linear-gradient(to top, #9be15d 0%, #5CDB95 100%);
}
#methode h1 {
border-radius: 25px;
}
.methode{padding-left: 5%;padding-right:5%}
.card{margin-top:2rem;
border: 1px solid;
border-color: #8CC6D7;
text-align:left;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-width:300px
}

.inside-card {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 198, 215, 1), rgba(0, 0, 0, 0));
}
.statement{font-family: HKGrotesk-bold }

.concret{
    background-color: #889EE3;
    border-radius: 15px;
    color: #fff;}

#fish{background-color:#38598b;
  border-radius:15px;
  color:white;
}
#composteur{background-color: #a3816a;
color:white;
border-radius: 15px}
#plant{background-color:#a7d129;
color:white;
border-radius:15px}
.text_concret{background-color: white;
padding-left:10px;
padding-top:5px;
border-radius:5px;
padding-bottom:5px;}
img{margin-top:2rem;}

#prod{color:#fff;

border-radius:15px;}

#icon_prod{margin-top:0;}

#visite{color:#fff;
border-radius: 15px;}
#press{margin:2rem;}

/* Effect 21: borders slight translate */
.cl-effect-21 a {
	padding: 10px;
	color: #D3D3D3;
	font-weight: 700;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #D3D3D3	;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #D3D3D3	;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}
#visite-section .card{margin-top:2rem;
border: 1px solid;

text-align:left}
body{padding-top:75px;}

.hr-white{background-color:#fff;margin-left:5%;margin-right:5%;}
.section-top{padding-bottom:0rem;padding-top:0}
.section-man{padding-top:0rem; background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);}
.section-man .container{margin-left: 5%;margin-right:5%}

.card { transition: all .2s ease-in-out; }
.card:hover { transform: scale(1.1); }
#detail{margin-top: 6rem;margin-bottom: 3rem; margin-left:5%;margin-right:5%;border-radius: 20px;}
#detail_titre{color:#5cdb95;padding-top: 3rem;border-bottom:2px solid #5cdb95;}
.produits{    background-image: linear-gradient(to top, #e7717D 0%, #fe5196 100%); padding-right:5%;padding-left:5%}
.produits h2{color:#fff;}
.img_produit{margin-top:0; border:4px solid #fff;box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)}

.color-white{color:#fff}
#visite-section{background-image: linear-gradient(to right bottom, #659dbd, #639ac0, #6398c3, #6594c5, #6991c7);}

.card-header{background-color:#bdae65;}
.card-footer{background-color:#bdae65;}

#submit:hover{background-color: #2cde96;border-color:#2cde96}

.social a:hover{color:#429bf4 !important;}

@media only screen and (max-width: 360px) {h1 {font-size: 3em;}{h2 {font-size:2em}}}

.p-bold{font-family: 'HKGrotesk-bold', sans-serif;text-transform: uppercase;}
.bg-1 {
	background: #ECEFF1;
	color: #37474f;}

.button {
	float: left;
	min-width: 150px;
height: auto;
	display: block;
	margin: 1em;
	padding: 1em 2em;
	border: none;
	background: none;
	color: inherit;
	vertical-align: middle;
	position: relative;
	z-index: 1;
	-webkit-backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
  font-family: 'HKGrotesk-bold', sans-serif;
    text-transform: uppercase;

  }
}

.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */
.bg-1 .button {
	color: #37474f;
	border-color: #37474f;
}
.button--text-thick {
	font-weight: 600;
}
.button--itzel {
	border: #fff;
	padding: 0px;
	overflow: hidden;
	width: 255px;
  color:#ffff !important;
}
.button--itzel::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid;
	border-radius: inherit;
	-webkit-clip-path: polygon(0% 0%, 0% 100%, 35% 100%, 35% 60%, 65% 60%, 65% 100%, 100% 100%, 100% 0%);
	clip-path: url(../index.html#clipBox);
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -2px, 0);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

.button--itzel .button--border-thin::before {
	border: 1px solid;
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -1px, 0);
}
.button--itzel .button--border-thick::before {
	border: 3px solid;
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.button--itzel::before,
.button--itzel .button__icon {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--itzel .button__icon {
	position: absolute;
	top: 100%;
	left: 50%;
	padding: 20px;
	font-size: 20px;
	-webkit-transform: translate3d(-50%, 0, 0);
	transform: translate3d(-50%, 0, 0);
}
.button--itzel > span {
	display: block;
	padding: 20px;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.button--itzel:hover::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--itzel:hover .button__icon {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
	-webkit-transform: translate3d(-50%, -100%, 0);
	transform: translate3d(-50%, -100%, 0);
}
.button--itzel:hover > span {
	opacity: 0;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.button--rayen {
	overflow: hidden;
	padding: 0;
	width: 230px;
}
.button--rayen.button--inverted {
	color: #fff;
}
.button--rayen::before {
	content: attr(data-text);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #7986cb;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.button--rayen.button--inverted::before {
	background: #fff;
	color: #37474f;
}
.button--rayen > span {
	display: block;
}
.button--rayen::before,
.button--rayen > span {
	padding: 1em 2em;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--rayen:hover::before {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--rayen:hover > span {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;

	max-width: 350px;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: 400;
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #696969;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}



/* Nao */
.input--nao {
	overflow: hidden;
	padding-top: 1em;
}

.input__field--nao {
	padding: 0.5em 0em 0.25em;
	width: 100%;
	background: transparent;
	color: #9da8b2;
	font-size: 1.25em;
}

.input__label--nao {
	position: absolute;
	top: 0.95em;
	font-size: 0.85em;
	left: 0;
	display: block;
	width: 100%;
	text-align: left;
	padding: 0em;
	pointer-events: none;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.2s 0.15s, color 1s;
	transition: transform 0.2s 0.15s, color 1s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
}

.graphic--nao {
	stroke: #92989e;
	pointer-events: none;
	-webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
	transition: transform 0.7s, stroke 0.7s;
	-webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
	transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
}

.input__field--nao:focus + .input__label--nao,
.input--filled .input__label--nao {
	color: #333;
	-webkit-transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
	transform: translate3d(0, -1.25em, 0) scale3d(0.75, 0.75, 1);
}

.input__field--nao:focus ~ .graphic--nao,
.input--filled .graphic--nao {
	stroke: #333;
	-webkit-transform: translate3d(-66.6%, 0, 0);
	transform: translate3d(-66.6%, 0, 0);
}
.cl-effect-15 a {
	color: rgba(0,0,0,0.2);
	font-weight: 900;
	text-shadow: none;
  font-size: 1rem;

  border:2px solid white;
  border-radius:20px;
  padding:1rem

}

.cl-effect-15 a::before {
	color: #fff;
	content: attr(data-hover);
	position: absolute;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.cl-effect-15 a:hover::before,
.cl-effect-15 a:focus::before {
	-webkit-transform: scale(0.9);
	-moz-transform: scale(0.9);
	transform: scale(0.9);
	opacity: 0;
}

.button--shikoba {
overflow: hidden;
background: #E7717D;
color: #fff;
border-color: #fff;
-webkit-transition: background-color 0.3s, border-color 0.3s, color 0.3s;
transition: background-color 0.3s, border-color 0.3s, color 0.3s border:1px solid;
border-radius: 15px;
border: 2px solid;
padding-left: 2rem;
padding-right: 2rem;
transition: padding 0.3s;
-webkit-transition: padding 0.3s;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.button--shikoba.button--inverted {
	color: #fff;
	background: #71C783;
}
.button--shikoba > span {
	display: inline-block;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba .button__icon {
	position: absolute;
	left: 15px;
	font-size: 30px;
	-webkit-transform: translate3d(-40px, 2.5em, 0);
	transform: translate3d(-40px, 2.5em, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button--shikoba:hover .button__icon,
.button--shikoba:hover > span {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.button--shikoba:hover {
  background: #71C783;
  border-color: #71C783;
  color: #fff;
  padding-left: 4rem;
}

.button:focus {
	outline: none;
}
.button > span {
	vertical-align: middle;
}
#cta_boutique{justify-content: center}

/* Tamaya */
.button--tamaya {
overflow: hidden;
color: #fff;
border-radius: 15px;
min-width: 180px;
}

.button--tamaya.button--inverted {
	color: #37474f;
	border-color: #37474f;
}
.button--tamaya::before,
.button--tamaya::after {
	content: attr(data-text);
	position: absolute;
	width: 100%;
	height: 50%;
	left: 0;
	background: #7986cb;
	color: #fff;
	overflow: hidden;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya.button--inverted::before,
.button--tamaya.button--inverted::after {
	background: #fff;
	color: #37474f;
}
.button--tamaya::before {
	top: 0;
	padding-top: 1em;
}
.button--tamaya::after {
	bottom: 0;
	line-height: 0;
}
.button--tamaya > span {
	display: block;
	-webkit-transform: scale3d(0.2, 0.2, 1);
	transform: scale3d(0.2, 0.2, 1);
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--tamaya:hover::before {
	-webkit-transform: translate3d(0, -100%, 0);
	transform: translate3d(0, -100%, 0);
}
.button--tamaya:hover::after {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
}
.button--tamaya:hover > span {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
